.mvInfo{
	display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: .2rem 0 0 .5rem;

    div{
    	margin-bottom: .6rem;
    	font-size: .9rem;
    }

    .name{
        color: #000;
    	font-size: 1.1rem;
    }

    .line{
        display: flex;
    	justify-content: flex-start;
    	margin-bottom: 0;

    	.artistName{
    		color: rgb(84,170,255);
    	}

    	.playCount{
			margin-left: 4rem;
			color: #999;
    	}
    }
    .publishTime{
    	color: #999;
    }

    .desc{
    	line-height: 1.5rem;
    }
}

.commentItem{
	display: flex;
	flex-flow: column;
	margin-bottom: 1rem;
	padding: 1rem .5rem;
	border-bottom: 1px solid #ccc;

	.user{
	    display: flex;
    	flex-flow: row nowrap;
    	justify-content: space-between;
    	align-items: center;

		.img{
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 2.5rem;
		}
		.nicknameAndTime{
			width: 84%;
			margin-left: .4rem;

			.nickname{
				color: #777;
			}
			.time{
				color: #aaa;
				font-size:.6rem;
			}
		}
		.likedCount{
			color: #aaa;
			font-size: .8rem;
			margin-right: .1rem;
			display: flex;
			align-items: center;

			span{
				margin-left: .35rem;
			}
		}
	}

	.content{
		margin-top:.5rem;
		line-height:1.5rem;
		padding-left: 2.8rem;
	}
}
.commentItem:last-child{
	border-bottom: 0px;
}